$background100:#e5e5e5;
$background200:rgba(230, 246, 255, 0.2);
$background300:rgba(255, 255, 255, 0.3);
$background400:#6396c5;
$background500:#a9dcfd;
$background600:#a6abba;
$background700:#3d76ab;
$background800:rgba(5, 5, 5, 0.3);
$color100:#fbfbfb;
$color200: rgba(172, 166, 166, 0.5);
$color300:#373737;
$color400:rgba(251, 251, 251, 0.5);